table ,th ,td {
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
}
th, td{
    padding: 10px;
}
#icerik p{
    margin-bottom: 10px;
}
#icerik h2{
    padding-bottom: 10px;
}
th{
    background-color: rgb(147, 147, 147);
}
td{
    background-color: white;
}